@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Moonrocks&display=swap');


body {
	background-color: white;
	/*background-image: linear-gradient(180deg, #A9C9FF 0%, #d473d4 100%);*/
	min-height: 100%;
	font-family: termina, sans-serif;
	color: var(--text-color);
	transition: 0.3s ease-out;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	position:relative;
}

ul li {
	text-decoration: none;
}

.human {position: relative;}

/*head*/
header {
	position: relative;
	justify-content: center;
	width: 100%;
	height: 72px;
	vertical-align: middle;
	background-color: black;
}

header p, a {
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	float: none;
	font-size: 18px;
	text-decoration: none;
	color: white;
}

header a {font-size: 18px;}

header .seize {width: 16.8%;}

header .trente {width: 30%;}

header .douze {
	margin-left: 20px;
	margin-right: 10px;
}

#logo {
	margin-left: 35px;
	margin-top: 5px;
	height: 100%;
	width: 80px;
	justify-content: center;
	vertical-align: middle;
}

#panier {
	margin-left: 35px;
	margin-top: 10px;
	height: 100%;
	width: 90px;
	justify-content: center;
	vertical-align: middle;
	cursor: pointer;
}

#profil {
	cursor: pointer;
	margin-top: 10px;
	margin-left: 2px;
	background-color: white;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 25px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}     
html {font-size: 50%;}
body {box-sizing: border-box;}
.container {
	width: 40rem;
	height: 100%;
	margin: 0 1rem;
	position: relative;
}
h2 {
    margin: 2rem;
    font-size: 20px;
}
.searchbar {
	margin-top: 10px;
	font-size: 2.4rem;
	width: 40rem;
	height: 5rem;
	border: none;
	outline: none;
	border-radius: 10rem;
	padding: 2rem;
	transition: all 0.1s;
	transition-delay: 0.1s;
}

.button {
	margin-top: 10px;
	height: 2rem;
	position: absolute;
	top: 1.5rem;
	right: 1rem;
	transition: all 0.1s;
	transition-delay: 0.1s;
}
.button:hover {cursor: pointer;}
.searchbar::placeholder {opacity: 0.3;}

li {
	display: inline-block;
	vertical-align: middle;
	float: none;
	color: #fff;
	list-style-type: none;
}

/*body*/
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 350px;
  position: relative;
  margin: auto;
}

.slideshow-container img {height: 695px;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 150px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  height: 55px;
}

/* Caption text */
.text {
  color: black;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Scroll*/
.containerScroll {
	margin-top: 300px;
	font-family: New Century Schoolbook;
	width: 100%;
}

section {
	min-height: 100vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
	padding: 50px 10vh;
	margin: auto;
	place-items: center;
}

section first-child {
	position: absolute;
}

.homeScrollImg {
	width: 100%;
	height: 80vh;
	object-fit: contain;
}

h1 {
	position: flex;
	font-size: 50px;
	z-index: 1;
	line-height: 1.2;
	font-weight: 700;
}

h2 {
	font-size: 30px;
	max-width: 400px;
}

* {box-sizing: border-box;}

/*La partie de transition de <T shirt> et de <Soldes> de l apage de garde*/
.diviser {
	width: 100%;
	height: 450px;
	background-color: #c7d4ca;
}

.tShirtPub, .soldesPub {
	display: table-cell;
	width: 50%;
	height: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.diviser img {
	width: 100%;
	height: 450px;
}

.texteCentrer {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 5px black;
}

.tShirtPub img, .soldesPub img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 0.5s ease; /* Safari et Chrome */
-moz-transition: all 0.5s ease; /* Firefox */
-ms-transition: all 0.5s ease; /* Internet Explorer 9 */
-o-transition: all 0.5s ease; /* Opera */
transition: all 0.5s ease;
}
.tShirtPub:hover img, .soldesPub:hover img {
/* L'image est grossie de 25% */
-webkit-transform:scale(1.05); /* Safari et Chrome */
-moz-transform:scale(1.05); /* Firefox */
-ms-transform:scale(1.05); /* Internet Explorer 9 */
-o-transform:scale(1.05); /* Opera */
transform:scale(1.05);
}
/*La partie de texte de la page de garde(home)*/
.textePartie {
	width: 100%;
	min-height: 150px;
	margin: 20px;
	padding-right: 40px;
	text-align: right;
}

.textePartie h2 {
	margin-left: 40%;
	font-size: 22px;
	font-family: 'Rubik Moonrocks', cursive;
	letter-spacing: 3px;
	padding: 8px;
	background-color: black;
	color: white;
	border-radius: 15px;
	font-weight: 70;
	width: 300px;
	text-align: center;
}
.textePartie h2:hover {
	font-size: 24px;
	transition: 0.5s;
}
.textePartie p {
	font-size: 12px;
	font-family: Verdana;
}


/*Pied du site*/
/*Footer*/

.footer {
	background-color: black;
	width: 100%;
	height: 150px;
	text-align: center;
	justify-content: center;
	color: white;
}

/*Les minis style du site (une seule ligne')*/

.titre-footer {margin-bottom: 15px;}

.footer .titre-footer {font-size: 18px;}

.nous-suivre-img {
	height: 18px;
	width: 18px;
	margin: 3px;
}

/*jusqu'à là quoi*/

.footer-boite {
	text-align: left;
	width: 25%;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 20px;
	display: table-cell;
}

.footer p, a {
	font-size: 12px;
	font-family: Termina, sans-serif;
	padding: 1px;
}

.footer #droit-d-auteur {
	font-family: Termina, sans-serif;
	font-size: 10px;
	text-align: center;
	padding-top: 26px;
}
